.label-silver{
    background-color: #a0a0a0;
}
.label-gold{
    background-color: #FFD700;

}
.content-header>h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a
{
    color: white;
    background: rgba(4, 58, 36, 1);
    border-radius: 10px;
}

.avatar-game {
    height: 140px !important;
    width: 140px !important;
}
.box-body {
    min-width: auto;
    min-height: 150px;
}
.bg-green, .modal-header{
    background-color: #14805e !important;
    color: white;

}

label.info-box-number.row.form-control.bg-green {
    margin-left: -16px !important;
    /* margin-right: -29px !important; */
}
.info-box-content.overlay.bg-green {
    border-radius: 0px;
}

.info-box-content{
    margin-left:0px;
}

figcaption, [class^=imghvr-] figcaption {
    background-color: #14805e ;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
[class^=imghvr-] {

    background-color: whitesmoke;

}

.modal-body {
    position: relative;
    padding: 15px;
    padding-top: 0px;
}

.form-control {
    height: auto;
}


