@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Lato:100,300,400,500,600,700|Ubuntu:100,300,400,500,600,700|Raleway:100,300,400,500,600,700|Montserrat');

html,
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side{
	padding-bottom: 20px !important;

	background: #F0F0F0 !important;
}

body,
h3{
	font-family: 'Montserrat', sans-serif !important;
}

/*.actionticket.dashboard .box-body{*/
	/*min-height: 370px;*/
/*}*/
.actionticket .table{
	font-size: 1.25rem;
}
	.actionticket .table tr:last-child td{
		border-bottom: none !important;
	}
	.actionticket .table th{
		line-height: 10px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		font-family: "Raleway", sans-serif !important;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
		.actionticket .table th:nth-child(3){
			text-align: center !important;
		}
	.actionticket .table td{
		line-height: 20px !important;
		padding: 20px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		color: #999 !important;
		text-align: center;
	}
		.actionticket .table td a{
			color: #0d235b !important;
			font-weight: 700 !important;
		}
			.actionticket .table td a:hover{
				text-decoration: none !important;
			}
		.actionticket .table td:first-child{
			width: 10% !important;

			color: #444 !important;
			font-weight: bold;
			text-align: left !important;
		}
		.actionticket .table td:nth-child(2){
			width: 80% !important;

			text-align: left !important;
		}
		.actionticket .table td:nth-child(3){
			width: 10% !important;
		}

.actionticket-v2 .table{
	font-size: 1.25rem;
}
	.actionticket-v2 .table tr:last-child td{
		border-bottom: none !important;
	}
	.actionticket-v2 .table th{
		line-height: 10px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		font-family: "Raleway", sans-serif !important;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
		/*.actionticket-v2 .table th:nth-child(3){*/
			/*text-align: center !important;*/
		/*}*/
	.actionticket-v2 .table td{
		line-height: 20px !important;
		padding: 20px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		color: #999 !important;
		text-align: center;
	}
		.actionticket-v2 .table td a{
			color: #0d235b !important;
			font-weight: 700 !important;
		}
			.actionticket-v2 .table td a:hover{
				text-decoration: none !important;
			}
		/*.actionticket-v2 .table td:first-child{*/
			/*width: 10% !important;*/

			/*color: #444 !important;*/
			/*font-weight: bold;*/
			/*text-align: left !important;*/
		/*}*/
		/*.actionticket-v2 .table td:nth-child(2){*/
			/*width: 80% !important;*/

			/*text-align: left !important;*/
		/*}*/
		/*.actionticket-v2 .table td:nth-child(3){*/
			/*width: 10% !important;*/
		/*}*/

.avatar-profile{
	height: 90px;
	vertical-align: top;
	width: 90px;
}

.badge-danger{ background: #cf4b4b !important; }
.badge-success{ background: #22ac61 !important; }

.box{
	background-color: transparent !important;
	border: none !important;
	border-radius: 0px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}
	.box .box-header{
		padding: 20px;

		font-family: "Raleway", sans-serif !important;
		font-size: 1.25rem !important;
		font-weight: 700 !important;
		letter-spacing: 1px;
		text-transform: uppercase !important;
	}
	.box.box-default .box-header{
		background: #F5F5F5 !important;
		border-radius: 0px !important;
	}
	.box.box-primary .box-header{
		background-color: #0d235b !important;
		border-radius: 0px !important;
		color: #FFFFFF !important;
	}
	.box .box-body{
		padding: 15px !important;

		background: #FFFFFF !important;
		border: none !important;
		border-radius: 0px !important;
		box-shadow: none !important;
	}

.btn{
	margin: 10px 0px !important;
	padding: 10px 30px !important;

	border: none !important;
	border-radius: 0px !important;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
	font-family: "Lato", sans-serif !important;
}

#add-currency.btn {
	margin-top: 20px; !important;
}
	/*COLORIZATIONS*/
	.btn-gold{
		background: #DDBF20 !important;
		color: #FFFFFF !important;
		text-shadow: 1px 1px 1px #444 !important;
	}
	.btn-primary{
		background: #0d235b !important;
	}
	/*/COLORIZATIONS*/

	.btn-lg{
		padding: 20px 50px !important;

		font-size: 1.5rem !important;
	}

	/*OUTLINE*/
	.btn-outline{
		background: transparent !important;
		outline: none !important;
	}
	.btn-gold.btn-outline{
		box-shadow: inset 0px 0px 0px 2px #DDBF20 !important;
		color: #DDBF20 !important;
		text-shadow: none !important;
	}
	.btn-primary.btn-outline{
		box-shadow: inset 0px 0px 0px 2px #0d235b !important;
		color: #0d235b !important;
	}
	/*/OUTLINE*/
	.btn-round{
		border-radius: 30px !important;
		outline: none !important;
	}
	.btn-upper{
		text-transform: uppercase !important;
	}

.chat-bubble{
	bottom: 80px;
	height: 60px;
	line-height: 65px;
	outline: none;
	position: fixed;
	right: 20px;
	width: 60px;
	z-index: 99;

	background: #FFF;
	border-radius: 60px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	color: #444;
	font-size: 3rem;
	text-align: center;

	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}
	.chat-bubble:active, .chat-bubble:focus{ outline: none; }
	.chat-bubble:hover{
		transform: scale(1.1 ,1.1);

		transition: 0.2s ease;
		-webkit-transition: 0.2s ease;
		-moz-transition: 0.2s ease;
		-ms-transition: 0.2s ease;
		-o-transition: 0.2s ease;
	}
.chat-bubble.hasmessage{
	animation: hasMessage 0.5s ease-out 0s infinite;
}

#chat-modal{
	background: rgba(0, 0, 0, 0.8) !important;
}

#chat-modal .modal-dialog{
	width: 1100px;

	opacity: 0;

	transition: opacity 0.3s ease !important;
	-webkit-transition: opacity 0.3s ease !important;
	-moz-transition: opacity 0.3s ease !important;
	-ms-transition: opacity 0.3s ease !important;
	-o-transition: opacity 0.3s ease !important;
}
	#chat-modal.in .modal-dialog{
		opacity: 1;

		transition: opacity 0.3s ease !important;
		-webkit-transition: opacity 0.3s ease !important;
		-moz-transition: opacity 0.3s ease !important;
		-ms-transition: opacity 0.3s ease !important;
		-o-transition: opacity 0.3s ease !important;
	}

#chat-modal .modal-content{
	border-radius: 0px !important;
}

#chat-modal .modal-body{
	display: flex;
	margin: 0px !important;
	overflow: hidden;
	padding: 0px !important;
	width: 1100px !important
}
	#chat-modal .modal-body .inbox-section{
		display: inline-block !important;
		float: left;
		overflow-y: scroll;
		overflow: -moz-scrollbars-none !important;
		width: 350px;

		background: #20294f;
	}
		#chat-modal .modal-body .inbox-section input.form-control{
			display: block;
			padding: 30px !important;

			background: #20294F !important;
			border: 1px solid #20294F !important;
			border-radius: 0px !important;
			color: #FFF !important;
			font-family: "Ubuntu", sans-serif !important;
			font-size: 1.25rem !important;
			font-weight: 300 !important;
			letter-spacing: 1px !important;
		}
			#chat-modal .modal-body .inbox-section input.form-control::placeholder{
				color: #888 !important;
			}
		#chat-modal .modal-body .inbox-section ul.conv-list{
			display: block;
			list-style-type: none;
			margin-bottom: 0px;
			margin-left: -40px;
		}
		#chat-modal .modal-body .inbox-section::-webkit-scrollbar{ display: none !important; }
		#chat-modal .modal-body .inbox-section::-moz-scrollbar{ display: none !important; }
			#chat-modal .modal-body .inbox-section ul.conv-list li .media{
				padding: 20px;

				cursor: pointer;
				background: #20294F;
				color: #FFF;
			}
				#chat-modal .modal-body .inbox-section ul.conv-list li .media:hover{
					background: #181F3E;
				}
			#chat-modal .modal-body .inbox-section ul.conv-list li.active .media{
				background: #181F3E;
			}
				#chat-modal .modal-body .inbox-section ul.conv-list li .media .media-body{
					max-width: 250px !important;
				}
					#chat-modal .modal-body .inbox-section ul.conv-list li .media .media-left img{
						width: 40px;

						border-radius: 40px;
					}
					#chat-modal .modal-body .inbox-section ul.conv-list li .media .media-left span.conv-status{
						display: block;
						height: 20px;
						left: 25px;
						margin-top: -15px;
						position: relative;
						width: 20px;

						background: #20294F;
						border-radius: 20px;
						color: #555;
						text-align: center;
					}
					#chat-modal .modal-body .inbox-section ul.conv-list li.active .media .media-left span.conv-status{
						background: #181F3E !important;
					}
						#chat-modal .modal-body .inbox-section ul.conv-list li .media:hover .media-left span.conv-status{
							background: #181F3E !important;
						}
					#chat-modal .modal-body .inbox-section ul.conv-list li .media[data-status="active"] .media-left span.conv-status{
						color: #43dd20;
					}
					#chat-modal .modal-body .inbox-section ul.conv-list li .media .media-body .media-heading{
						font-family: "Ubuntu", sans-serif;
						font-size: 1.5rem;
						font-weight: 300;
					}
					#chat-modal .modal-body .inbox-section ul.conv-list li .media .media-body small{
						max-width: 250px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;

						font-family: "Ubuntu", sans-serif;
						font-size: 1.1rem;
						font-weight: 300;
					}
		#chat-modal .modal-body .inbox-section div.inbox-empty,
		#chat-modal .modal-body .inbox-section div.load-inbox{
			height: 700px;
			position: absolute;
			width: 350px;
		}
			#chat-modal .modal-body .inbox-section div.inbox-empty span,
			#chat-modal .modal-body .inbox-section div.load-inbox span{
				display: block;
				margin-top: 50px;

				color: #566293;
			}
	#chat-modal .modal-body .conversation-section{
		display: inline-block !important;
		overflow: hidden;
		width: 750px;
	}
		#chat-modal .modal-body .conversation-section .conv-header{
			padding: 11.5px;
			position: relative;

			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
			text-align: center;
		}
			#chat-modal .modal-body .conversation-section .conv-header h5{
				margin: 0px !important;

				font-size: 1.75rem;
				font-weight: 700;
			}
			#chat-modal .modal-body .conversation-section .conv-header small{
				margin: 0px !important;

				color: #AAA;
				font-size: 1rem;
			}
			#chat-modal .modal-body .conversation-section .conv-header .btn-invite{
				padding: 11px 15px !important;
				position: absolute;
				left: 0px;
				top: 0;

				box-shadow: none !important;
				color: #444;
				font-size: 2rem;
			}
			#chat-modal .modal-body .conversation-section .conv-header .btn-trash{
				padding: 11px 15px !important;
				position: absolute;
				left: 40px;
				top: 0;

				box-shadow: none !important;
				color: #444;
				font-size: 2rem;
			}
			#chat-modal .modal-body .conversation-section .conv-header .btn-hide{
				padding: 11px 15px !important;
				position: absolute;
				right: 0;
				top: 0;

				box-shadow: none !important;
				color: #444;
				font-size: 2rem;
			}
		#chat-modal .modal-body .conversation-section div.load-conv{
			position: absolute;
			width: 750px;
			z-index: 999;
		}
			#chat-modal .modal-body .conversation-section div.load-conv span{
				display: block;
				margin-top: 50px;

				color: #c4c4c4;
			}
		#chat-modal .modal-body .conversation-section .conv-body{
			max-width: 748px;
			overflow-y: auto;
			overflow-x: -moz-hidden-unscrollable !important;
			padding: 10px 20px;
			position: relative;

			background: #EEE;
		}
			#chat-modal .modal-body .conversation-section .conv-body .conv-group{
				display: inline-block;
				position: relative;
				width: 100%;
			}
				#chat-modal .modal-body .conversation-section .conv-body .conv-group img{
					border-radius: 40px;
				}
				#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message{
					display: block;
					list-style-type: none;
					position: relative;
					margin-left: -40px;
					width: 100%;
				}
					#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-other ul.chat-message{
						clear: left;
						float: left;
						text-align: left;
					}
					#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-me ul.chat-message{
						clear: right;
						float: right;
						text-align: right;
					}
						#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li span{
							display: inline-block;
							margin-bottom: 2.5px;
							max-width: 400px;
							padding: 10px 15px;
							word-wrap: break-word;

							border-radius: 0px;
							font-family: "Ubuntu", sans-serif;
							font-size: 1.25rem;
							font-weight: 300;
						}
						#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li small{
							display: inline-block;
							margin: 0px 10px;

							color: #AAA;
							font-size: 1rem;
							opacity: 0;
						}
							#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li:hover > .chatstamp{
								opacity: 1;
							}
							#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-other ul.chat-message li span{
								background: #FFF;
								box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
							}
							#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-me ul.chat-message li span{
								/*background: #20294F;*/
								box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
								color: #FFF;
							}
								#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-me ul.chat-message li span.sending{ background: #727a9a; }
								#chat-modal .modal-body .conversation-section .conv-body .conv-group.sender-me ul.chat-message li span.sent{ background: #20294F; }
						#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li:first-child span{
							border-radius: 10px 10px 0px 0px !important;
						}
						#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li:last-child span{
							border-radius: 0px 0px 10px 10px !important;
						}
						#chat-modal .modal-body .conversation-section .conv-body .conv-group ul.chat-message li:only-child span{
							border-radius: 10px !important;
						}
		#chat-modal .modal-body .conversation-section .conv-footer{
			height: auto;
			max-width: 750px;
			padding: 5px 10px;
			position: relative;
			width: 100%;

			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		}
			#chat-modal .modal-body .conversation-section .conv-footer textarea.form-control{
				height: auto;
				padding: 6px 12px !important;
				resize: none;

				border: none !important;
				border-radius: 0px !important;
				box-shadow: none !important;
				font-family: "Ubuntu", sans-serif;
				font-size: 1.25rem;
				font-weight: 300;
				letter-spacing: 0.5px;
			}
			#chat-modal .modal-body .conversation-section .conv-footer .btn-send{
				margin: 0px !important;
				padding: 4px 20px !important;
				position: absolute;
				right: 0;
				top: 0;

				box-shadow: none !important;
				font-size: 2rem;
			}

code.code-danger{
	background: #FFE9E9;
	color: #FF0000;
	text-transform: uppercase !important;
}
code.code-default{
	background: #e3e3e3;
	color: #444;
	text-transform: uppercase !important;
}
code.code-primary{
	background: rgba(33, 150, 243, 0.3);
	color: #0d235b;
	text-transform: uppercase !important;
}
code.code-success{
	background: #ccffe5;
	color: #008333;
	text-transform: uppercase !important;
}

.container{
	width: 1280px !important;
}

.content-wrapper{
	background-color: #282828;
}

.content-header{
	color: #F5F5F5;
}
	.content-header > h1{
		color: #0d235b !important;
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 600;
		text-transform: uppercase;
	}
	.content-header small{
		color: #DDDDDD;
	}

.device-container{
	padding-left: 7px;
	padding-right: 7px;
}

.device-header{
	font-size: 110%;
	font-weight: bold;
}

div.info-box{
	background-color: #ffffff;
	box-shadow: none;
}
	div.info-box span.info-box-number{
		color: #081b4b;
		font-size: 3rem !important;
	}
	div.info-box span.info-box-text{
		font-size: 1rem;
		font-weight: bold;
	}
		div.info-box span.info-box-text.level{
			color: #081b4b;
			font-size: 1.5rem;
			font-weight: bold;
		}

div.user-div-tooltip{
	min-width: 150px;
	padding: 10px 15px;
	position: absolute;

	background: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	font-family: "Ubuntu", sans-serif;
}
	div.user-div-tooltip small{
		display: inline-block;
		float: right;

		color: #ff5c5c;
		font-size: 1.1rem;
	}
	div.user-div-tooltip span{
		display: inline-block;
		margin-right: 20px;

		color: #FFF;
		font-size: 1.25rem;
		font-weight: 300;
		letter-spacing: 0.3px;
	}

footer.main-footer{
	bottom: 0px !important;
	min-height: 50px;
	margin-top: auto;
	position: relative;
	width: 100%;
	z-index: 99;

	background: #0d235b !important;
	color: rgba(255, 255, 255, 0.2) !important;
}
	footer.main-footer a{
		color: #DDBF20 !important;
	}

.forex .box-body{
	text-align: right;
}

.form-control:not([type="file"]){
	background: rgba(255, 255, 255, 0.2) !important;
	border: 1px solid rgba(13, 35, 92, 0.3) !important;
	border-radius: 0px !important;
		-webkit-border-radius: 0px !important;
		-moz-border-radius: 0px !important;
	color: #444 !important;
	font-family: "Ubuntu", sans-serif !important;
	letter-spacing: 0.5px !important;
}


#wallet-deposit-wallet-select {
	padding: 0 !important;
}

/*#wallet-withdrawal-currency-select {*/
	/*padding: 0 !important;*/
/*}*/
	.form-control:focus{
		/*border: 1px solid rgba(100, 100, 100, 0.4) !important;*/
		/*outline: none !important;*/
		box-shadow: inset 0px 0px 0px 1px #0D235B !important;
	}
	.form-control::placeholder{ color: #CCC; }
	.form-control::-webkit-input-placeholder{ color: #CCC; }
	.form-control::-moz-placeholder{ color: #CCC; }
	.form-control::-ms-placeholder{ color: #CCC; }
	.form-control::-o-placeholder{ color: #CCC; }

.header-logo{
	vertical-align: middle;
	margin-top: -12px;
	height: 50px;
	width: 50px;
}
.header-logo{
	height: 50px;
	margin-top: -12px;
	vertical-align: middle;
	width: 50px;
}

.lb-md{
	padding: .3em .6em .4em;

	background-color: #0d235b !important;
	font-size: 1.25rem;
}

.main-header .navbar .nav li > a{
	border-radius: 0px !important;
}
	.main-header .navbar .nav li > .dropdown-menu .divider{
		margin: 5px 0px !important;
	}
	.main-header .navbar .nav li .user-image{
		margin-right: 10px;
		width: 25px !important;

		border-radius: 25px !important;
	}
	.main-header .navbar .nav li > a:active,
	.main-header .navbar .nav li > a:hover,
	.main-header .navbar .nav li.dropdown.open > a.dropdown-toggle{
		background: #081b4b !important;
	}
		.main-header .navbar .nav li.dropdown ul.dropdown-menu li > a{
			padding: 10px 20px !important;
		}
			.main-header .navbar .nav li.dropdown ul.dropdown-menu li > a:hover{
				background: #DDBF20 !important;
			}

.marketplace.dashboard .box-body{
	min-height: 370px;
}
.marketplace .table{
	font-size: 1.25rem;
}
	.marketplace .table tr:last-child td{
		border-bottom: none !important;
	}
	.marketplace .table th{
		line-height: 10px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		font-family: "Raleway", sans-serif !important;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
	.marketplace .table td{
		line-height: 20px !important;
		padding: 20px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		text-align: center;
	}
		.marketplace .table td a{
			color: #0d235b;
			font-weight: bold;
		}
		.marketplace .table td:first-child{
			width: 15% !important;

			font-weight: bold;
			text-align: left !important;
			vertical-align: text-top !important;
		}
		.marketplace .table td:last-child{
			width: 70% !important;

			text-align: left !important;
		}

.navbar-nav > .user-menu > .dropdown-menu{
	margin-left: -145px !important;
}

.panel-title > a{
	color: #155738;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 1.25rem;
	font-weight: bold;
}

.push-right{ margin-right: 10px; }

.skin-blue .main-header .navbar .nav > li > a{
	color: rgba(255, 255, 255, 0.5) !important;
}

.skin-blue .sidebar-menu > li > a{
	color: #ffffff;
}
	.skin-blue .sidebar-menu > li.active > a,
	.skin-blue .sidebar-menu > li > a:hover{
		background-color: #434343;
		border-left-color: #FFFFFF;
	}
	.skin-blue .main-header .navbar{
		padding-top: 10px;
		padding-bottom: 10px;

		background: #0d235b !important;
	}
	.skin-blue .main-header li.user-header{
		background-color: #333333;
	}
	.skin-blue .main-header .navbar .nav > li > a:hover,
	.skin-blue .main-header .navbar .nav > li > a:active,
	.skin-blue .main-header .navbar .nav > li > a:focus,
	.skin-blue .main-header .navbar .nav .open > a,
	.skin-blue .main-header .navbar .nav .open > a:hover,
	.skin-blue .main-header .navbar .nav .open > a:focus,
	.skin-blue .main-header .navbar .nav > .active > a{
		background: #081b4b;
		color: #FFFFFF;
	}
	.skin-blue .sidebar-menu > li:hover > a,
	.skin-blue .sidebar-menu > li.active > a{
		color: #FFFFFF;
	}

.span-card-no{ letter-spacing: 1px; }

nav.sub-nav{
	margin-bottom: 0px !important;

	border: none !important;
	border-radius: 0px !important;
}
	nav.sub-nav ul li a{
		transition: 0.4s;
		padding: 15px 25px;

		color: rgba(255, 255, 255, 0.5) !important;
		font-family: "Ubuntu", sans-serif;
		font-size: 1.25rem;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}

		nav.sub-nav ul li.active a,
		nav.sub-nav ul li a:hover{
			/*background: transparent !important;*/
			/*border: none !important;*/
			/*box-shadow: inset 0px -4px 0px #DDBF20 !important;*/
			/*color: #FFF !important;*/
			background-color: #DDBF20 !important;
			color: #081b4b !important;
			text-shadow: 0 0 5px #ffffff;
			box-shadow: 0px -8px 35px -4px rgba(0, 0, 0, 0.75);
		}


	nav.sub-nav .dropdown > a.dropdown-toggle:active,
	nav.sub-nav .dropdown > a.dropdown-toggle:focus,
	nav.sub-nav .dropdown > a.dropdown-toggle:hover,
	nav.sub-nav .dropdown > a.dropdown-toggle:visited,
	nav.sub-nav .dropdown.open > a.dropdown-toggle,
	nav.sub-nav .dropdown.open > a.dropdown-toggle:active,
	nav.sub-nav .dropdown.open > a.dropdown-toggle:focus,
	nav.sub-nav .dropdown.open > a.dropdown-toggle:hover,
	nav.sub-nav .dropdown.open > a.dropdown-toggle:visited{
		background: #081b4b !important;
	}
		nav.sub-nav li.dropdown ul.dropdown-menu li a{
			color: #444444 !important;
		}
			nav.sub-nav li.dropdown ul.dropdown-menu li > a:hover{
				background: #DDBF20 !important;
			}
			nav.sub-nav li.dropdown.active ul.dropdown-menu li a{
				box-shadow: none !important;
			}

.table.table-borderless{
	border: none !important;
}

.tradeprofile.dashboard .box-body{
	min-height: 370px;
}
.tradeprofile .table{
	font-size: 1.25rem;
}
	.tradeprofile .table tr:last-child td{
		border-bottom: none !important;
	}
	.tradeprofile .table th{
		line-height: 10px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		font-family: "Raleway", sans-serif !important;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}
		.tradeprofile .table th:first-child{
			text-align: left !important;
		}
	.tradeprofile .table td{
		line-height: 20px !important;
		padding: 20px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		text-align: center;
	}
		.tradeprofile .table td:first-child{
			width: 50% !important;

			font-weight: bold;
			text-align: left !important;
		}
	.tradeprofile .table td h2{
		margin: 0px !important;
	}

.wallet.dashboard .box-body{
	min-height: 370px;
}
.wallet .table{
	display: table;

	font-size: 1.25rem;
}
	.wallet .table tr:last-child td{
		border-bottom: none !important;
	}
	.wallet .table th{
		line-height: 10px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
		font-family: "Raleway", sans-serif !important;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
		.wallet .table th:nth-child(4),
		.wallet .table th:last-child{
			text-align: right !important;
		}
	.wallet .table td{
		line-height: 20px !important;
		padding: 10px 0px !important;
		vertical-align: middle !important;

		border: none !important;
		border-bottom: 1px solid #EEE !important;
	}
		.wallet .table td:first-child{
			/*width: 50% !important;*/

			font-weight: bold;
			text-align: left !important;
		}
		/*.wallet .table td:nth-child(2),*/
		/*.wallet .table td:nth-child(3),*/
		/*.wallet .table td:last-child{*/
			/*width: 25% !important;*/
		/*}*/
		/*overriding this on module/wallet.blade*/


	#open-table .table tfoot td:last-child {
		text-align: right;
	}

	#closed-table .table tfoot td:last-child {
		text-align: right;
	}

	.wallet .table td .media i.fa{
		padding: 5px 10px;

		border-radius: 15px;
		color: #FFF;
		font-size: 2rem;
		text-shadow: 1px 1px 1px #444;
	}

.wallet-list-group{
	font-family: "Ubuntu", sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
}
	.wallet-list-group .list-group-item{
		border: 1px solid rgba(0, 0, 0, 0.1) !important;
		border-radius: 0px !important;
	}
		.wallet-list-group i.fa,
		.wallet-list-group i.ion{
			width: 20px !important;

			text-align: center !important;
		}

.well.profile-header{
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;

	background: #0d235b;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3) !important;
	font-family: "Raleway", sans-serif;
}
	.well.profile-header a,
	.well.profile-header a:visited{
		background: #0d235b;
	}
		.well.profile-header a:active{
			background: #081b4b;
		}
	.well.profile-header img{
		float: left;
		margin-bottom: 20px;
		margin-right: 30px;
		width: 120px !important;

		border-radius: 120px;
	}
	.well.profile-header .media h1{
		margin-bottom: 20px;

		color: #DDBF20;
		font-family: "Raleway", sans-serif !important;
		font-size: 5rem;
		font-weight: 300;
	}
	.well.profile-header .media .sub-heading{
		color: rgba(255, 255, 255, 0.5);
		font-family: "Montserrat", sans-serif !important;
		font-size: 1.75rem;
		font-weight: 100;
	}

#content{
	padding: 20px;
	min-height: unset;
	transition: all 0.3s;
	width: -webkit-fill-available;
}

div#sidebarCollapse{
	cursor: pointer;
}

#sidebar{
	background-color: #333333;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: #333333;
}

#sidebar ul li.active > a,
a[aria-expanded="true"]{
	background-color: #333333;
}

#sidebar ul li a:hover{
	color: white;
	background: #fff;
	background-color: #434343;
}

#content{
	min-height: calc(95vh - 70px);
}

#sidebar{
	min-height: calc(95vh - 70px);
}

:root{
	/*gives IE the overlay style*/
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 768px){
	.main-sidebar, .left-side{
		-webkit-transform: unset;
		-ms-transform: unset;
		-o-transform: unset;
		transform: unset;
	}

	.actionticket.dashboard .box-body,
	.actionticket-v2.dashboard .box-body,
	.marketplace.dashboard .box-body,
	.wallet.dashboard .box-body{
		min-height: auto !important;
	}

	#sidebar{
		min-height: 100%;
	}
}

@media (max-width: 1100px){
	#chat-modal .modal-body .inbox-section{
		width: 80px;
	}
		#chat-modal .modal-body .inbox-section .media-body{
			display: none;
		}
}

@keyframes hasMessage{
	0%{
		/*transform: scale(1, 1);*/
	}
	50%{
		background: #DDBF20;
		color: #FFFFFF;
		/*transform: scale(1.2, 1.2);*/
	}
	100%{
		background: #FFFFFF;
		color: #444444;
		/*transform: scale(1, 1);*/
	}
	/*from{
		transform: scale(1.2, 1.2);
	}
	to{
		transform: scale(1, 1);
	}*/
}

.total {
	font-weight: bold;
}