.skin-blue .main-header .navbar {
    background: #14805e;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skin-blue .main-header li.user-header {
    background-color: #333333;
}

#sidebar-right .main-sidebar{
    height:87vh;
    width: 100%;
    background-color: #333333;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li>a:hover {
    background-color: #434343;
}

.skin-blue .sidebar-menu>li>a {
    color: #ffffff;
}

.content-wrapper{
    background-color: #282828;
}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    border-left-color: #34c597;
}

.content-header {
    color: #f5f5f5;
}

.content-header small {
    color: #dddddd;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus,
.skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus,
.skin-blue .main-header .navbar .nav>.active>a {
    color: #34c597;
    background: rgba(4, 58, 36, 1);;
}

.skin-blue .main-header .navbar .nav>li>a {
}

body, h3 {
    font-family: 'Montserrat', sans-serif;
}

.content-header>h1 {
    text-transform: uppercase;
    color: #14805e;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.flat-button {
    display: inline-block;
    margin: 2px 3px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 5px 20px;
    border: 0;
    background: #249873;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}
.flat-button:hover {
    background: #0d5b43;
    color: #FFF;
}

.panel-title>a {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #155738;
}

.hr-line .line-top{border-top: 2px solid rgba(0,0,0,0.5);}
.hr-line .line-bot{border-bottom: 2px solid rgba(142, 142, 142, 0.5);}

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #34c597;
}

.box.box-info.box-green{
    border-top-color: #14805e;
    border-radius: 10px;
}

.box-footer {
    border-radius: 10px;
}

.label-silver{
    background-color: #a0a0a0;
}
.label-gold{
    background-color: #FFD700;

}
.content-header>h1 {
    text-transform: uppercase;
    color: #eee;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a
{
    color: white;
    background: rgba(4, 58, 36, 1);
    border-radius: 10px;
}

.avatar-game {
    height: 140px !important;
    width: 140px !important;
}
.box-body {
    min-width: auto;
    min-height: 150px;
}
.bg-green, .modal-header{
    background-color: #14805e !important;
    color: white;

}

label.info-box-number.row.form-control.bg-green {
    margin-left: -16px !important;
    /* margin-right: -29px !important; */
}
.info-box-content.overlay.bg-green {
    border-radius: 0px;
}

.info-box-content{
    margin-left:0px;
}

figcaption, [class^=imghvr-] figcaption {
    background-color: #14805e ;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}
[class^=imghvr-] {

    background-color: whitesmoke;

}

.modal-body {
    position: relative;
    padding: 15px;
    padding-top: 0px;
}

.carousel-inner .carousel-img {
    height: 33%;
    width: 100%;
}

#carousel-example-generic .carousel-inner>.item>img {
    display: block;
    width: 100%;
    height: 300px;
    padding: 0 15px;
}

.carousel-inner .carousel-caption>h3 {
    color: #ffffff;
    text-shadow: 0 0 3px #40ffb8;
}
.carousel-caption .carousel-descr {
    background-color: rgba(12, 12, 12, 0.8);
    border-radius: 10px;
}


.error-header-container {
    padding-top: 100px;
    padding-bottom: 50px;
}

h1.error{
    color: rgba(255, 255, 255, 0.94);
    font-size: 150px;
    margin: auto 0;
    text-shadow: 0px 0 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2.error{
    color: rgba(111, 111, 111, 0.94);
    font-size: 50px;
    margin: auto 0;
    text-shadow: 0px 0 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}

a.home-link {
    font-size: 15px;
    color: whitesmoke;
    margin: auto 0;
}

